---
import Search from '../components/Search.jsx';
let title = 'Example Algolia Search with React Hooks &amp; Astro';
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        
</head>
<body>
    <main class="max-w-4xl mx-auto py-16 px-6 sm:px-8">
        <Search client:only="react" />
    </main>
</body>
</html>
